@import "../../styles/variables";
.modules {
  section {
    width: 100%;
    // margin-bottom: var(--space-xl);
    // &:last-child {
    //   margin-bottom: 0;
    // }
    &.module--hero-ui {
      img {
        object-fit: cover;
        object-position: center center;
        @media all and (max-width: $md) {
          object-fit: contain;
          height: auto !important;
        }
      }
    }
    &.module--text-ui {
      .inner {
        padding: var(--space-50);
        background-color: var(--backgroundColor, #000);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        // background-image: url(var(--backgroundImage));
        color: var(--color, #fff);
        // background-attachment: fixed;
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-md);
        }
        &.is-columns {
          .text {
            column-count: 2;
            max-width: unset;
          }
        }
      }
    }
    &.module--contacts-ui {
      .inner {
        padding: var(--space-50);
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-md);
        }
      }

      background-color: #000;
      color: #fff;
      h2 {
        text-align: center;
        max-width: 13em;
        margin: auto;
        margin-bottom: var(--space-50);
        text-transform: uppercase;
      }
      .items {
        p {
          text-align: center;
          margin-bottom: 2.938rem;
          font-size: var(--text-2lg);
          a {
            // font-size: var(--text-lg);
            // text-transform: lowercase;
            @media all and (min-width: $md) {
              min-width: 23rem;
            }
            display: inline-block;
          }
        }
      }
    }
    &.module--list-lieu-ui {
      .lieu:nth-child(odd) > .summary-detail {
        & > .summary {
          background-color: white;
          color: black;
          svg path {
            fill: black;
          }
        }
      }
    }
    &.module--list-studio-ui {
      .detail.detail--studio {
        position: absolute;
        width: 100%;
        left: 0;
        padding: var(--space-50);
        background-color: black;
        .btn--close {
          position: absolute;
          z-index: 1;
          right: var(--space-md);
          top: var(--space-md);
        }
        .summary-detail {
          .summary {
            padding: 0;
            svg {
              display: none;
            }
          }
          .detail {
            position: initial;
          }
        }
      }
    }
    &.module--callout-ui {
      background-color: #000;
      color: #fff;
      .inner {
        padding: var(--space-50);
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-md);
        }
        h2 {
          text-align: center;
          max-width: 13em;
          margin: auto;
          margin-bottom: var(--space-50);
          text-transform: uppercase;
        }
      }
    }
  }
}
