.modules {
  section {
    width: 100%;
    // margin-bottom: var(--space-xl);
    &:last-child {
      margin-bottom: 0;
    }
    &.module--text-ui {
      .inner {
        padding: var(--space-50);
        background-color: var(--backgroundColor, #000);
        // background-image: url(var(--backgroundImage));
        color: var(--color, #fff);
        // background-attachment: fixed;
      }
    }
    &.module--contacts-ui {
      .inner {
        padding: var(--space-50);
      }

      background-color: #000;
      color: #fff;
      h2 {
        text-align: center;
        max-width: 13em;
        margin: auto;
        margin-bottom: var(--space-50);
        text-transform: uppercase;
      }
      .items {
        p {
          text-align: center;
          margin-bottom: 2.938rem;
          font-size: var(--text-2lg);
          a {
            // font-size: var(--text-lg);
            // text-transform: lowercase;
            min-width: 23rem;
            display: inline-block;
          }
        }
      }
    }
  }
}
