header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  background-color: black;
  transition: transform 0.3s var(--cubic), opacity 0.3s var(--cubic);
  .inner {
    padding: 12px var(--space-xl);
  }
  &.is-up {
    transform: translateY(-100%);
    opacity: 0;
  }
  svg:hover {
    path {
      fill: var(--color-accent);
    }
  }

  nav {
    margin: 0 155px;
    font-family: var(--font-primary-mono);
    ul {
      gap: 70px;
    }
    li {
      position: relative;
      &:hover .sub-menu {
        display: flex;
      }
    }
    .sub-menu {
      position: absolute;
      padding: var(--space-md);
      background-color: black;
      left: calc(var(--space-md) * -1);
      display: flex;
      flex-direction: column;
      gap: 12px;
      display: none;
    }
  }

  @media all and (max-width: $md) {
    padding: var(--space-md);
    .logo {
      width: 94px;
    }
  }
}
