.btn--pill {
  border: var(--border);
  padding: 0 toRem(60) 0.1em;
  border-radius: 2em;
  text-align: center;
  display: inline-block;
  height: var(--space-50);
  line-height: calc(var(--space-50) * 0.9);
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
  font-size: var(--text-lg);
  font-family: var(--font-primary-mono);
  &:hover {
    background-color: white;
    color: black;
  }

  @media all and (max-width: $md) {
    font-size: var(--text-m-md);
    padding: 0 2em;
  }
}

.grid-card {
  padding: var(--space-50);
  @media all and (max-width: $md) {
    padding: var(--space-m-md);
  }
  .card {
    margin-bottom: var(--space-50);
  }
}
.card {
  position: relative;
  .inner {
    display: grid;
    gap: var(--space-lg);
    pointer-events: none;
  }
  h3 {
    font-size: var(--text-2lg);
    @media all and (max-width: $md) {
      font-size: var(--text-m-2lg);
    }
  }
  &--studio {
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
    button:hover {
      background-color: white;
      color: black;
    }
    .overlay {
      opacity: 0;
      position: absolute;
      inset: 0;
      overflow: clip;
      button {
        z-index: 1;
        @include center_it;
      }
    }
  }
}

.summary-detail {
  .summary {
    // @include debugFiletY(50%);
    padding: toRem(30) 0 toRem(20);
    .icon-arrow {
      position: absolute;
      right: var(--space-50);
    }
    .title {
      text-align: center;
      text-transform: uppercase;
      // padding: toRem(25) 0;
      // height: 100px;
      // line-height: 100px;
      h2 {
        margin: 0;
        line-height: 1;
      }
    }
    .detail {
    }
  }
}

.bg-blend {
  background-color: var(--color-accent);
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
}
